In [1]:
import pandas as pd
import numpy as np

In [2]:
#opening df
xls = pd.ExcelFile(r'C:\Users\aavil\Documents\codeop\Orangutanes\Registro orangutanes Barcelona.xlsx')
df_raw=pd.read_excel(xls,'Grupo')

In [3]:
df_raw

,Fecha,Sujeto,Periodo,Registro diario,Conducta,Receptor,Frecuencia,Duración,Ubicacion,Observaciones
0,2019-04-15,Karl,Prejuego,1.0,Cam,NaN,NaN,00:00:15,vg2,NaN
1,2019-04-15,Karl,Prejuego,1.0,Forr,NaN,NaN,00:00:34,vg2,NaN
2,2019-04-15,Karl,Prejuego,1.0,Sen,NaN,NaN,00:00:52,vg4,NaN
3,2019-04-15,Karl,Prejuego,1.0,Cam,NaN,NaN,00:00:05,vg4,NaN
4,2019-04-15,Karl,Prejuego,1.0,Sen,NaN,NaN,00:00:34,vg4,NaN
...,...,...,...,...,...,...,...,...,...,...
8109,2019-07-19,Hadia,Postjuego,2.0,Tre,NaN,NaN,00:00:09,pg4,NaN
8110,2019-07-19,Hadia,Postjuego,2.0,Alim,NaN,NaN,00:01:34,pg4,NaN
8111,2019-07-19,Hadia,Postjuego,2.0,Jacrob,NaN,NaN,00:00:21,pg4,NaN
8112,2019-07-19,Hadia,Postjuego,2.0,Bra,NaN,NaN,00:00:03,pg4,NaN
8113,2019-07-19,Hadia,Postjuego,2.0,Alim,NaN,NaN,00:03:12,pg3,NaN

In [4]:
#Removing "observaciones"
df1=df_raw.drop(labels="Observaciones", axis=1)
df1

,Fecha,Sujeto,Periodo,Registro diario,Conducta,Receptor,Frecuencia,Duración,Ubicacion
0,2019-04-15,Karl,Prejuego,1.0,Cam,NaN,NaN,00:00:15,vg2
1,2019-04-15,Karl,Prejuego,1.0,Forr,NaN,NaN,00:00:34,vg2
2,2019-04-15,Karl,Prejuego,1.0,Sen,NaN,NaN,00:00:52,vg4
3,2019-04-15,Karl,Prejuego,1.0,Cam,NaN,NaN,00:00:05,vg4
4,2019-04-15,Karl,Prejuego,1.0,Sen,NaN,NaN,00:00:34,vg4
...,...,...,...,...,...,...,...,...,...
8109,2019-07-19,Hadia,Postjuego,2.0,Tre,NaN,NaN,00:00:09,pg4
8110,2019-07-19,Hadia,Postjuego,2.0,Alim,NaN,NaN,00:01:34,pg4
8111,2019-07-19,Hadia,Postjuego,2.0,Jacrob,NaN,NaN,00:00:21,pg4
8112,2019-07-19,Hadia,Postjuego,2.0,Bra,NaN,NaN,00:00:03,pg4
8113,2019-07-19,Hadia,Postjuego,2.0,Alim,NaN,NaN,00:03:12,pg3

In [5]:
# Importing LabelEncoder from Sklearn
# library from preprocessing Module.
from sklearn.preprocessing import LabelEncoder
 
# Creating a instance of label Encoder.
le = LabelEncoder()
 
# Using .fit_transform function to fit label
# encoder and return encoded label
label = le.fit_transform(df1['Sujeto'])
 
# printing label
label

array([2, 2, 2, ..., 0, 0, 0])

In [6]:
## Appending the array to our dataFrame
# with column name 'Sujeto_number'
df1["Sujeto_number"] = label

In [7]:
#Checking number each subject
df1.loc[df1['Sujeto'] == "Popo"] #4
df1.loc[df1['Sujeto'] == "Hadia"] #0
df1.loc[df1['Sujeto'] == "Storma"] #5
df1.loc[df1['Sujeto'] == "Jawie"] #1
df1.loc[df1['Sujeto'] == "Locky"] #3
df1.loc[df1['Sujeto'] == "Karl"] #2

,Fecha,Sujeto,Periodo,Registro diario,Conducta,Receptor,Frecuencia,Duración,Ubicacion,Sujeto_number
0,2019-04-15,Karl,Prejuego,1.0,Cam,NaN,NaN,00:00:15,vg2,2
1,2019-04-15,Karl,Prejuego,1.0,Forr,NaN,NaN,00:00:34,vg2,2
2,2019-04-15,Karl,Prejuego,1.0,Sen,NaN,NaN,00:00:52,vg4,2
3,2019-04-15,Karl,Prejuego,1.0,Cam,NaN,NaN,00:00:05,vg4,2
4,2019-04-15,Karl,Prejuego,1.0,Sen,NaN,NaN,00:00:34,vg4,2
...,...,...,...,...,...,...,...,...,...,...
633,2019-07-19,Karl,Postjuego,2.0,Sen,NaN,NaN,00:01:27,pg2,2
634,2019-07-19,Karl,Postjuego,2.0,Cam,NaN,NaN,00:00:47,vg1,2
635,2019-07-19,Karl,Postjuego,2.0,Tre,NaN,NaN,00:00:03,vg1,2
636,2019-07-19,Karl,Postjuego,2.0,Cam,NaN,NaN,00:00:02,vg1,2
637,2019-07-19,Karl,Postjuego,2.0,Sen,NaN,NaN,00:02:45,vg1,2

In [11]:
# Drop sujeto and ubicacion column with names

df2=df1.drop(labels=["Sujeto","Ubicacion"], axis=1)

,Fecha,Periodo,Registro diario,Conducta,Receptor,Frecuencia,Duración,Sujeto_number
0,2019-04-15,Prejuego,1.0,Cam,NaN,0,00:00:15,2
1,2019-04-15,Prejuego,1.0,Forr,NaN,0,00:00:34,2
2,2019-04-15,Prejuego,1.0,Sen,NaN,0,00:00:52,2
3,2019-04-15,Prejuego,1.0,Cam,NaN,0,00:00:05,2
4,2019-04-15,Prejuego,1.0,Sen,NaN,0,00:00:34,2
...,...,...,...,...,...,...,...,...
8109,2019-07-19,Postjuego,2.0,Tre,NaN,0,00:00:09,0
8110,2019-07-19,Postjuego,2.0,Alim,NaN,0,00:01:34,0
8111,2019-07-19,Postjuego,2.0,Jacrob,NaN,0,00:00:21,0
8112,2019-07-19,Postjuego,2.0,Bra,NaN,0,00:00:03,0
8113,2019-07-19,Postjuego,2.0,Alim,NaN,0,00:03:12,0

In [13]:
#Convert Nan in frecuencia to 0.
df2['Frecuencia'] = df2['Frecuencia'].fillna(0)

,Fecha,Periodo,Registro diario,Conducta,Receptor,Frecuencia,Duración,Sujeto_number
0,2019-04-15,Prejuego,1.0,Cam,NaN,0,00:00:15,2
1,2019-04-15,Prejuego,1.0,Forr,NaN,0,00:00:34,2
2,2019-04-15,Prejuego,1.0,Sen,NaN,0,00:00:52,2
3,2019-04-15,Prejuego,1.0,Cam,NaN,0,00:00:05,2
4,2019-04-15,Prejuego,1.0,Sen,NaN,0,00:00:34,2
...,...,...,...,...,...,...,...,...
8109,2019-07-19,Postjuego,2.0,Tre,NaN,0,00:00:09,0
8110,2019-07-19,Postjuego,2.0,Alim,NaN,0,00:01:34,0
8111,2019-07-19,Postjuego,2.0,Jacrob,NaN,0,00:00:21,0
8112,2019-07-19,Postjuego,2.0,Bra,NaN,0,00:00:03,0
8113,2019-07-19,Postjuego,2.0,Alim,NaN,0,00:03:12,0

In [15]:
df2.isnull().sum()

Fecha                 0
Periodo               0
Registro diario      27
Conducta              0
Receptor           5386
Frecuencia            0
Duración            418
Sujeto_number         0
dtype: int64

In [29]:
df1['Registro diario'] = df1['Registro diario'].astype('int')
df1

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer