In [13]:
import pandas as pd
import numpy as np

In [14]:
#opening df
xls = pd.ExcelFile(r'C:\Users\aavil\Documents\codeop\Orangutanes\Registro orangutanes Barcelona.xlsx')
df_raw=pd.read_excel(xls,'Grupo')

In [15]:
df_raw

,Fecha,Sujeto,Periodo,Registro diario,Conducta,Receptor,Frecuencia,Duración,Ubicacion,Observaciones
0,2019-04-15,Karl,Prejuego,1,Cam,NaN,NaN,00:00:15,vg2,NaN
1,2019-04-15,Karl,Prejuego,1,Forr,NaN,NaN,00:00:34,vg2,NaN
2,2019-04-15,Karl,Prejuego,1,Sen,NaN,NaN,00:00:52,vg4,NaN
3,2019-04-15,Karl,Prejuego,1,Cam,NaN,NaN,00:00:05,vg4,NaN
4,2019-04-15,Karl,Prejuego,1,Sen,NaN,NaN,00:00:34,vg4,NaN
...,...,...,...,...,...,...,...,...,...,...
8109,2019-07-19,Hadia,Postjuego,2,Tre,NaN,NaN,00:00:09,pg4,NaN
8110,2019-07-19,Hadia,Postjuego,2,Alim,NaN,NaN,00:01:34,pg4,NaN
8111,2019-07-19,Hadia,Postjuego,2,Jacrob,NaN,NaN,00:00:21,pg4,NaN
8112,2019-07-19,Hadia,Postjuego,2,Bra,NaN,NaN,00:00:03,pg4,NaN
8113,2019-07-19,Hadia,Postjuego,2,Alim,NaN,NaN,00:03:12,pg3,NaN

 ## Al final no usamos labelEncoder
-Importing LabelEncoder from Sklearn
-library from preprocessing Module.
from sklearn.preprocessing import LabelEncoder
 
-Creating a instance of label Encoder.
le = LabelEncoder()
 
-Using .fit_transform function to fit label
-encoder and return encoded label
label = le.fit_transform(df1['Sujeto'])
 
-printing label
label

-Appending the array to our dataFrame
-with column name 'Sujeto_number'
df1["Sujeto_number"] = label

#Checking number each subject
df1.loc[df1['Sujeto'] == "Popo"] #4
df1.loc[df1['Sujeto'] == "Hadia"] #0
df1.loc[df1['Sujeto'] == "Storma"] #5
df1.loc[df1['Sujeto'] == "Jawie"] #1
df1.loc[df1['Sujeto'] == "Locky"] #3
df1.loc[df1['Sujeto'] == "Karl"] #2

In [16]:
# Drop observaciones and ubicacion column with names

df_raw=df_raw.drop(labels=["Observaciones","Ubicacion"], axis=1)

In [18]:
#Convert Nan in frecuencia to 0.
df_raw['Frecuencia'] = df_raw['Frecuencia'].fillna(0)

In [19]:
df2.isnull().sum()

Fecha                 0
Periodo               0
Registro diario       0
Conducta              0
Receptor           5386
Frecuencia            0
Duración            418
Sujeto_number         0
dtype: int64

In [20]:
df1['Registro diario'] = df1['Registro diario'].astype('int')
df1

,Fecha,Sujeto,Periodo,Registro diario,Conducta,Receptor,Frecuencia,Duración,Ubicacion,Sujeto_number
0,2019-04-15,Karl,Prejuego,1,Cam,NaN,NaN,00:00:15,vg2,2
1,2019-04-15,Karl,Prejuego,1,Forr,NaN,NaN,00:00:34,vg2,2
2,2019-04-15,Karl,Prejuego,1,Sen,NaN,NaN,00:00:52,vg4,2
3,2019-04-15,Karl,Prejuego,1,Cam,NaN,NaN,00:00:05,vg4,2
4,2019-04-15,Karl,Prejuego,1,Sen,NaN,NaN,00:00:34,vg4,2
...,...,...,...,...,...,...,...,...,...,...
8109,2019-07-19,Hadia,Postjuego,2,Tre,NaN,NaN,00:00:09,pg4,0
8110,2019-07-19,Hadia,Postjuego,2,Alim,NaN,NaN,00:01:34,pg4,0
8111,2019-07-19,Hadia,Postjuego,2,Jacrob,NaN,NaN,00:00:21,pg4,0
8112,2019-07-19,Hadia,Postjuego,2,Bra,NaN,NaN,00:00:03,pg4,0
8113,2019-07-19,Hadia,Postjuego,2,Alim,NaN,NaN,00:03:12,pg3,0

In [22]:
df_raw.loc[df_raw['Sujeto'] == 'Karl', 'Sujeto'] = 0
df_raw.loc[df_raw['Sujeto'] == 'Locky', 'Sujeto'] = 1
df_raw.loc[df_raw['Sujeto'] == 'Jawie', 'Sujeto'] = 2
df_raw.loc[df_raw['Sujeto'] == 'Storma', 'Sujeto'] = 3
df_raw.loc[df_raw['Sujeto'] == 'Popo', 'Sujeto'] = 4
df_raw.loc[df_raw['Sujeto'] == 'Hadia', 'Sujeto'] = 5

,Fecha,Sujeto,Periodo,Registro diario,Conducta,Receptor,Frecuencia,Duración
0,2019-04-15,0,Prejuego,1,Cam,NaN,0,00:00:15
1,2019-04-15,0,Prejuego,1,Forr,NaN,0,00:00:34
2,2019-04-15,0,Prejuego,1,Sen,NaN,0,00:00:52
3,2019-04-15,0,Prejuego,1,Cam,NaN,0,00:00:05
4,2019-04-15,0,Prejuego,1,Sen,NaN,0,00:00:34
...,...,...,...,...,...,...,...,...
8109,2019-07-19,5,Postjuego,2,Tre,NaN,0,00:00:09
8110,2019-07-19,5,Postjuego,2,Alim,NaN,0,00:01:34
8111,2019-07-19,5,Postjuego,2,Jacrob,NaN,0,00:00:21
8112,2019-07-19,5,Postjuego,2,Bra,NaN,0,00:00:03
8113,2019-07-19,5,Postjuego,2,Alim,NaN,0,00:03:12

In [23]:
df_raw.loc[df_raw['Periodo'] == 'Prejuego', 'Periodo'] = 0
df_raw.loc[df_raw['Periodo'] == 'Juego', 'Periodo'] = 1
df_raw.loc[df_raw['Periodo'] == 'Postjuego', 'Periodo'] = 2