In [41]:
from lib2to3.pgen2.pgen import DFAState
import pandas as pd
import numpy as np
import datetime as dt

df = pd.read_csv(r'../clean_df.csv',dtype = {'subject': str, 'period' : str, 'duration': float, 'behavior': str,})
DATE = 'date'
SUBJECT = 'subject'
PERIOD = 'period'
REG='reg'
BEHAVIOR='behavior'
FRECUENCY='frecuency'
RECEPTOR='receptor'
DURATION='duration'


#where(df['period'] == Prejuego)

In [27]:
df

,Unnamed: 0,date,subject,period,reg,behavior,receptor,duration
0,0,2019-04-15,Karl,Prejuego,1,cam,[],15.0
1,1,2019-04-15,Karl,Prejuego,1,forr,[],34.0
2,2,2019-04-15,Karl,Prejuego,1,sen,[],52.0
3,3,2019-04-15,Karl,Prejuego,1,cam,[],5.0
4,4,2019-04-15,Karl,Prejuego,1,sen,[],34.0
...,...,...,...,...,...,...,...,...
8108,8109,2019-07-19,Hadia,Postjuego,2,tre,[],9.0
8109,8110,2019-07-19,Hadia,Postjuego,2,alim,[],94.0
8110,8111,2019-07-19,Hadia,Postjuego,2,jacrob,[],21.0
8111,8112,2019-07-19,Hadia,Postjuego,2,bra,[],3.0
8112,8113,2019-07-19,Hadia,Postjuego,2,alim,[],192.0

In [43]:
df.groupby(['period']).duration.sum()

period
Juego        107681.0180
Postjuego    107398.0530
Prejuego     107885.0173
Name: duration, dtype: float64

In [79]:
df.loc[(df['period'] == "Juego") & (df['behavior'] == "bra")]
#df.loc[df['behavior'].isin(['cam','corr','tre','bra'])]
#df.loc[(df['column_name'] >= A) & (df['column_name'] <= B)]

      Unnamed: 0        date subject period  reg behavior receptor  duration
2280        2281  2019-05-23   Jawie  Juego    2      bra       []     144.0
2282        2283  2019-05-23   Jawie  Juego    2      bra       []       8.0
2284        2285  2019-05-23   Jawie  Juego    2      bra       []      25.0
2288        2289  2019-05-23   Jawie  Juego    2      bra       []      12.0
2300        2301  2019-05-24   Jawie  Juego    2      bra       []     109.0
...          ...         ...     ...    ...  ...      ...      ...       ...
7401        7402  2019-06-11   Hadia  Juego    2      bra       []       7.0
7447        7448  2019-06-13   Hadia  Juego    2      bra       []       7.0
7450        7451  2019-06-13   Hadia  Juego    2      bra       []       4.0
7466        7467  2019-06-14   Hadia  Juego    1      bra       []       8.0
7490        7491  2019-06-14   Hadia  Juego    2      bra       []      12.0

[112 rows x 8 columns]

In [ ]:
 Positivas:
    - Conductas lÃºdicas
    - LÃºdico-sociales
   D - Afiliativas
  - Neutras:
    D- Reposo
    D- LocomociÃ³n
    - AlimentaciÃ³n
    - Higiene
    - Conductas de exploraciÃ³n
  - Negativas:
  D  - AgonÃ­sticas
   D  - InteracciÃ³n con el pÃºblico
  - Sexuales

In [175]:
locomocio=df.loc[df['behavior'].isin(["bra","cam","corr","tre"])]
locdf=locomocio.groupby(['period']).duration.sum().to_frame('duracion_locomocio')

In [176]:
reposo= df.loc[df['behavior'].isin(["sen","quad","tum"])]
repdf=reposo.groupby(['period']).duration.sum().to_frame('duracion_reposo')

In [177]:
alimentacion= df.loc[df['behavior'].isin(["alim","forr"])]
alidf=alimentacion.groupby(['period']).duration.sum().to_frame('duracion_alimentacion')

In [178]:
higiene= df.loc[df['behavior'].isin(["groo","hur","ras","chup"])]
higienedf=higiene.groupby(['period']).duration.sum().to_frame('duracion_higiene')

In [179]:
ludicas= df.loc[df['behavior'].isin(["jsol","jexp","jacrob"])]
ludicasdf=ludicas.groupby(['period']).duration.sum().to_frame('duracion_ludicas')

In [180]:
exploracion= df.loc[df['behavior'].isin(["ins"])]
expdf=exploracion.groupby(['period']).duration.sum().to_frame('duracion_exploracion')

In [181]:
sex= df.loc[df['behavior'].isin(["sex"])]
sexdf=sex.groupby(['period']).duration.sum().to_frame('duracion_sexual')

In [182]:
agonistica=df.loc[df['behavior'].isin(["con","marc","huir"])]
agonisticadf=agonistica.groupby(['period']).duration.sum().to_frame('duracion_agonisticas')

In [183]:
lud_soc= df.loc[df['behavior'].isin(["lucha","perj"])]
ludsocdf=lud_soc.groupby(['period']).duration.sum().to_frame('duracion_ludico_social')

In [184]:
publico=df.loc[df['behavior'].isin(["pub"])]
publicodf=publico.groupby(['period']).duration.sum().to_frame('duracion_publico')

In [185]:
afiliativas=df.loc[df['behavior'].isin(["jun","aprox","trans","toca","solj","alogroo"])]
afiliativasdf=afiliativas.groupby(['period']).duration.sum().to_frame('duracion_afiliativas')

In [186]:
macrodf = pd.concat([agonisticadf, publicodf,afiliativasdf,ludsocdf,sexdf,ludicasdf,higienedf,locdf,repdf,expdf,alidf], axis=1)

In [189]:
import numpy as np
import matplotlib.pyplot as plt

macrodf. reindex(["Prejuego","Juego","Postjuego"])

,duracion_agonisticas,duracion_publico,duracion_afiliativas,duracion_ludico_social,duracion_sexual,duracion_ludicas,duracion_higiene,duracion_locomocio,duracion_reposo,duracion_exploracion,duracion_alimentacion
period,,,,,,,,,,,
Prejuego,313.000,324.0,35283.0173,7051.0,428.0,5988.0,2352.0,10199.0,30343.0,437.0,13303.000
Juego,585.000,661.0,26351.0000,3448.0,NaN,9730.0,2350.0,8506.0,39013.0,873.0,14247.018
Postjuego,170.053,171.0,24018.0000,7808.0,NaN,7367.0,2724.0,7079.0,36718.0,1538.0,16627.000

In [192]:
macrodf.to_csv('macro_df.csv')

In [195]:
import plotly.express as px

fig = px.line(macrodf, x="period", y="duracion_agonistas", color='country')
fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['duracion_agonisticas', 'duracion_publico', 'duracion_afiliativas', 'duracion_ludico_social', 'duracion_sexual', 'duracion_ludicas', 'duracion_higiene', 'duracion_locomocio', 'duracion_reposo', 'duracion_exploracion', 'duracion_alimentacion'] but received: period