# EDA on orangutans behavior dataset

> Explicar un poco el dataset y el estudio
## Data preparation
> Explicar cómo está estructurado el dataset, y cómo pensamos modificarlo
    -

In [2]:
import pandas as pd
import numpy as np

xls = pd.ExcelFile(r'./Registro orangutanes Barcelona.xlsx')
df_raw = pd.read_excel(xls,'Grupo')
df_raw.head()

,Fecha,Sujeto,Periodo,Registro diario,Conducta,Receptor,Frecuencia,Duración,Ubicacion,Observaciones
0,2019-04-15,Karl,Prejuego,1.0,Cam,NaN,NaN,00:00:15,vg2,NaN
1,2019-04-15,Karl,Prejuego,1.0,Forr,NaN,NaN,00:00:34,vg2,NaN
2,2019-04-15,Karl,Prejuego,1.0,Sen,NaN,NaN,00:00:52,vg4,NaN
3,2019-04-15,Karl,Prejuego,1.0,Cam,NaN,NaN,00:00:05,vg4,NaN
4,2019-04-15,Karl,Prejuego,1.0,Sen,NaN,NaN,00:00:34,vg4,NaN