In [120]:
import pandas as pd
import numpy as np

df = pd.read_csv('../clean_df.csv')
df.head()

,Unnamed: 0,date,subject,period,reg,behavior,receptor,duration
0,0,2019-04-15,Karl,Prejuego,1,cam,[],0 days 00:00:15
1,1,2019-04-15,Karl,Prejuego,1,forr,[],0 days 00:00:34
2,2,2019-04-15,Karl,Prejuego,1,sen,[],0 days 00:00:52
3,3,2019-04-15,Karl,Prejuego,1,cam,[],0 days 00:00:05
4,4,2019-04-15,Karl,Prejuego,1,sen,[],0 days 00:00:34

,Unnamed: 0,date,subject,period,reg,behavior,receptor,duration
0,0,2019-04-15,Karl,Prejuego,1,cam,[],0 days 00:00:15
1,1,2019-04-15,Karl,Prejuego,1,forr,[],0 days 00:00:34
2,2,2019-04-15,Karl,Prejuego,1,sen,[],0 days 00:00:52
3,3,2019-04-15,Karl,Prejuego,1,cam,[],0 days 00:00:05
4,4,2019-04-15,Karl,Prejuego,1,sen,[],0 days 00:00:34

In [119]:
df['behavior'].value_counts()

jun        1052
cam         991
sen         957
alim        668
aprox       585
forr        435
tum         380
bra         369
solj        326
jexp        321
jacrob      305
tre         262
lucha       251
alogroo     232
ras         228
groo        176
ins         106
mama        100
cuad         97
pub          80
con          46
hur          46
roba         36
marc         19
chup         16
huir         14
sex           6
corr          3
perj          2
jsol          2
trans         1
toca          1
Name: behavior, dtype: int64

In [121]:
DATE = 'date'
SUBJECT = 'subject'
PERIOD = 'period'
REG='reg'
BEHAVIOR='behavior'
FRECUENCY='frecuency'
RECEPTOR='receptor'
DURATION='duration'
df = df.groupby([PERIOD, DATE, REG, SUBJECT, BEHAVIOR])[DURATION] \
            .sum() \
            .unstack(BEHAVIOR) \
            .fillna(pd.Timedelta(seconds=0)) \
            .reset_index()
df.columns.name =''

In [122]:
df.columns.name =''

In [123]:
df.head()

,period,date,reg,subject,alim,alogroo,aprox,bra,cam,chup,...,pub,ras,roba,sen,sex,solj,toca,trans,tre,tum
0,Juego,2019-05-20,1,Hadia,0 days 00:00:130 days 00:00:390 days 00:03:330...,0 days 00:00:13,0 days 00:00:050 days 00:00:050 days 00:00:05,0 days 00:00:00,0 days 00:00:160 days 00:00:05,0 days 00:00:00,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:03,0 days 00:00:00
1,Juego,2019-05-20,1,Jawie,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:19,0 days 00:00:00,0 days 00:00:00
2,Juego,2019-05-20,1,Karl,0 days 00:00:27,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,...,0 days 00:00:00,0 days 00:00:080 days 00:00:020 days 00:00:04,0 days 00:00:00,0 days 00:00:270 days 00:00:230 days 00:00:030...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:01:150 days 00:01:080 days 00:01:010...
3,Juego,2019-05-20,1,Locky,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:15,0 days 00:00:00,...,0 days 00:00:06,0 days 00:00:04,0 days 00:00:00,0 days 00:00:590 days 00:01:370 days 00:00:13,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:50,0 days 00:01:110 days 00:11:25
4,Juego,2019-05-20,1,Popo,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:080 days 00:00:360 days 00:00:470...,0 days 00:00:21,0 days 00:00:00,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:230 days 00:00:070 days 00:00:050...,0 days 00:00:00

In [105]:
pd.get_dummies(df.subject)

     Hadia  Jawie  Karl  Locky  Popo  Storma
0        1      0     0      0     0       0
1        0      1     0      0     0       0
2        0      0     1      0     0       0
3        0      0     0      1     0       0
4        0      0     0      0     1       0
..     ...    ...   ...    ...   ...     ...
533      1      0     0      0     0       0
534      0      1     0      0     0       0
535      0      0     1      0     0       0
536      0      0     0      0     1       0
537      0      0     0      0     0       1

[538 rows x 6 columns]

In [115]:
pd.concat([df, pd.get_dummies(df['subject'])], axis=1).head()

,period,date,reg,subject,Alim,Alogroo,Aprox,Bra,Cam,Chup,...,Tre,Tum,con,tre,Hadia,Jawie,Karl,Locky,Popo,Storma
0,Juego,2019-05-20,1,Hadia,0 days 00:00:130 days 00:00:390 days 00:03:330...,0 days 00:00:13,0 days 00:00:050 days 00:00:050 days 00:00:05,0 days 00:00:00,0 days 00:00:160 days 00:00:05,0 days 00:00:00,...,0 days 00:00:03,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,1,0,0,0,0,0
1,Juego,2019-05-20,1,Jawie,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0,1,0,0,0,0
2,Juego,2019-05-20,1,Karl,0 days 00:00:27,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,...,0 days 00:00:00,0 days 00:01:150 days 00:01:080 days 00:01:010...,0 days 00:00:00,0 days 00:00:00,0,0,1,0,0,0
3,Juego,2019-05-20,1,Locky,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:15,0 days 00:00:00,...,0 days 00:00:50,0 days 00:01:110 days 00:11:25,0 days 00:00:00,0 days 00:00:00,0,0,0,1,0,0
4,Juego,2019-05-20,1,Popo,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:080 days 00:00:360 days 00:00:470...,0 days 00:00:21,0 days 00:00:00,...,0 days 00:00:230 days 00:00:070 days 00:00:050...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0,0,0,0,1,0

In [75]:
import pandas as pd
import numpy as np
import datetime as dt

xls = pd.ExcelFile(r'../Registro orangutanes Barcelona.xlsx')
df_raw = pd.read_excel(xls,'Grupo')

DATE = 'date'
SUBJECT = 'subject'
PERIOD = 'period'
REG='reg'
BEHAVIOR='behavior'
FRECUENCY='frecuency'
RECEPTOR='receptor'
DURATION='duration'

class DataManager():
    def __init__(self, df):
        self.df = df

    def process_df(self):
        return self.df
    
    def save_df(self, out_path):
        self.df.to_csv(out_path)
    
    def to_timedelta(self,t):
        try:
            return pd.to_timedelta(str(t)).total_seconds()
        except:
            return np.nan

    def drop_columns(self, columns):
        self.df.drop(labels=columns, axis=1, inplace=True)

class CleanDF(DataManager):
    def __init__(self, df):
        super().__init__(df)

    def process_df(self):
        self.columns_to_english()
        self.clean_duration()
        self.freq_to_duration()
        self.receptor_column()
        self.behavior_to_lower()
        self.drop_columns(["Observaciones","Ubicacion","frecuency"])
        return super().process_df()
    
    def columns_to_english(self):
        columns = {'Fecha': DATE,
                   'Sujeto': SUBJECT,
                   'Periodo':PERIOD,
                   'Registro diario': REG,
                   'Conducta': BEHAVIOR,
                   'Frecuencia':FRECUENCY,
                   'Receptor': RECEPTOR,
                   'Duración': DURATION}
        self.df = self.df.rename(columns=columns)

    def receptor_column (self):
        self.df.loc[self.df[RECEPTOR] == 'Gibon*', RECEPTOR] = 'Gibon'
        self.df.loc[self.df[RECEPTOR] == 'Storma*', RECEPTOR] = 'Storma'
        self.df.loc[self.df[RECEPTOR] == 'Locky*', RECEPTOR] = 'Locky'
        self.df.loc[self.df[RECEPTOR] == 'Hadia*', RECEPTOR] = 'Hadia'
        self.df.loc[self.df[RECEPTOR] == 'Popo*', RECEPTOR] = 'Popo'
        self.df.loc[self.df[RECEPTOR] == 'Jawie*', RECEPTOR] = 'Jawie'
        self.df.loc[self.df[RECEPTOR] == 'jawie', RECEPTOR] = 'Jawie'
        
        self.df[RECEPTOR] = self.df[RECEPTOR].fillna('')
        self.df[RECEPTOR] = self.df.receptor.apply(lambda x : x.split())
        
    def clean_duration(self):
        self.df.drop(self.df[self.df[DURATION] == 'd'].index, inplace=True)
        self.df[DURATION] = self.df[DURATION].fillna(dt.time(0, 0))
        self.df[ DURATION] = np.where(self.df[DURATION].astype(str).str.fullmatch(r'\s*'),
                               dt.time(0,0),
                               self.df[DURATION])
        self.df[DURATION] = self.df[DURATION].apply(self.to_timedelta)
    
    def freq_to_duration(self):
        self.df[FRECUENCY].fillna(0, inplace=True)
        self.df[FRECUENCY] = self.df[FRECUENCY].apply(self.process_freq)
        self.df[DURATION] += self.df[FRECUENCY]
    
    def process_freq(self,x):
        if isinstance(x, str):
            x = 0
        x *= 5
        return x #pd.Timedelta(seconds=x)

    def behavior_to_lower(self):
        self.df[BEHAVIOR] = self.df[BEHAVIOR].str.lower()
 
class MLDF(DataManager):
    def __init__(self, df):
        super().__init__(df)

    def process_df(self):
        self.conduct_to_columns()
        self.one_hot(PERIOD)
        self.one_hot(SUBJECT)
        self.drop_columns([REG, DATE, PERIOD, SUBJECT])
        return super().process_df()

    def conduct_to_columns(self):
        self.df = self.df.groupby([PERIOD, DATE, REG, SUBJECT, BEHAVIOR])[DURATION] \
            .sum() \
            .unstack(BEHAVIOR) \
            .fillna(0) \
            .reset_index()
        self.df.columns.name =''

    def one_hot(self, column):
        self.df = pd.concat([self.df, pd.get_dummies(self.df[column])], axis=1)

clean = CleanDF(df_raw)
cleandf = clean.process_df()
cleandf.head()

        date subject    period  reg behavior receptor  duration
0 2019-04-15    Karl  Prejuego    1      cam       []      15.0
1 2019-04-15    Karl  Prejuego    1     forr       []      34.0
2 2019-04-15    Karl  Prejuego    1      sen       []      52.0
3 2019-04-15    Karl  Prejuego    1      cam       []       5.0
4 2019-04-15    Karl  Prejuego    1      sen       []      34.0

In [2]:
ml = MLDF(cleandf)
mldf = ml.process_df()

In [76]:
class GraphDF(DataManager):
    def __init__(self, df):
        super().__init__(df)

    def process_df(self):
        self.keep_subject_receptor()
        self.drop_empties_receptor()
        self.unpack_todos()
        self.process_receptor_column()
        self.prejuego_g, self.juego_g, self.postjuego_g = self.create_periods_graphs()
        return super().process_df()
    
    def save_grafs(self):
        self.prejuego_g.to_csv('prejuego_graph.csv')
        self.juego_g.to_csv('juego_graph.csv')
        self.postjuego_g.to_csv('postjuego_graph.csv')
    
    def keep_subject_receptor(self):
        self.df = self.df.loc[:,[PERIOD, SUBJECT,RECEPTOR]]

    def drop_empties_receptor(self):
        empties = self.df[RECEPTOR].apply(lambda x : len(x)==0)
        index_to_drop = self.df[list(empties)].index
        self.df.drop(index_to_drop, inplace=True)

    def unpack_todos(self):
        subjects = list(df.subject.unique())
        todos_mask = df[RECEPTOR].apply(lambda x : x[0] == 'Todos')     
        todos_index = df[todos_mask].index[0]
        df.at[todos_index, RECEPTOR] = subjects
    
    def process_receptor_column(self):
        self.df = self.df.explode(RECEPTOR)
        self.df.loc[self.df[RECEPTOR] == 'Hadia*', RECEPTOR] = 'Hadia'
        self.df.loc[self.df[RECEPTOR] == 'Jawie*', RECEPTOR] = 'Jawie'
        self.df.loc[self.df[RECEPTOR] == 'locky', RECEPTOR] = 'Locky'
    
    def create_periods_graphs(self):
        self.df[PERIOD] = self.df[PERIOD].str.lower()
        a = self.create_graph('prejuego')
        b = self.create_graph('juego')
        c = self.create_graph('postjuego')
        return a, b, c
    
    def create_graph(self, period):
        df[PERIOD] = df[PERIOD].str.lower()
        df = df[df[PERIOD] == period]
        graph = df.groupby(SUBJECT)[RECEPTOR] \
                    .value_counts() \
                    .unstack(RECEPTOR) \
                    .fillna(0) \
                    .astype(int)
        graph.drop(labels='Gibon', inplace=True, axis=1)
        graph /= graph.sum(axis=1)


g = GraphDF(cleandf)
d = g.process_df()
g.save_grafs()

IndexError: index 0 is out of bounds for axis 0 with size 0

In [2]:
cleandf.head()

        date subject    period  reg behavior receptor  duration
0 2019-04-15    Karl  Prejuego    1      cam       []      15.0
1 2019-04-15    Karl  Prejuego    1     forr       []      34.0
2 2019-04-15    Karl  Prejuego    1      sen       []      52.0
3 2019-04-15    Karl  Prejuego    1      cam       []       5.0
4 2019-04-15    Karl  Prejuego    1      sen       []      34.0

In [3]:
cleandf.subject.value_counts()

Storma    1829
Hadia     1633
Popo      1577
Jawie     1226
Locky     1211
Karl       637
Name: subject, dtype: int64

In [72]:
subjects = list(cleandf.subject.unique())

In [15]:
subjects = cleandf.subject.unique()
interactions = cleandf.loc[:,[PERIOD,'subject','receptor']]
empties = cleandf['receptor'].apply(lambda x : len(x)==0)
interactions.drop(interactions[list(empties)].index, inplace=True)
interactions

         period subject receptor
61     Prejuego    Karl  [Hadia]
62     Prejuego    Karl  [Hadia]
63     Prejuego    Karl  [Hadia]
64     Prejuego    Karl  [Hadia]
77     Prejuego    Karl  [Hadia]
...         ...     ...      ...
8046  Postjuego   Hadia   [Popo]
8047  Postjuego   Hadia   [Popo]
8051  Postjuego   Hadia   [Popo]
8100  Postjuego   Hadia   [Karl]
8103  Postjuego   Hadia   [Karl]

[2660 rows x 3 columns]

In [25]:
todos_mask = interactions[RECEPTOR].apply(lambda x : x[0] == 'Todos')
todos_index = interactions[todos_mask].index
print(todos_index)

Int64Index([], dtype='int64')

In [ ]:
subjects = list(cleandf.subject.unique())
interactions.at[todos_index, RECEPTOR] = subjects

In [20]:
interactions = interactions.explode(RECEPTOR)
interactions.loc[interactions[RECEPTOR] == 'Hadia*', RECEPTOR] = 'Hadia'
interactions.loc[interactions[RECEPTOR] == 'Jawie*', RECEPTOR] = 'Jawie'
interactions.loc[interactions[RECEPTOR] == 'locky', RECEPTOR] = 'Locky'
interactions

         period subject receptor
61     Prejuego    Karl    Hadia
62     Prejuego    Karl    Hadia
63     Prejuego    Karl    Hadia
64     Prejuego    Karl    Hadia
77     Prejuego    Karl    Hadia
...         ...     ...      ...
8046  Postjuego   Hadia     Popo
8047  Postjuego   Hadia     Popo
8051  Postjuego   Hadia     Popo
8100  Postjuego   Hadia     Karl
8103  Postjuego   Hadia     Karl

[2839 rows x 3 columns]

In [21]:
interactions[PERIOD] = interactions.period.str.lower()

prejuego = interactions[interactions[PERIOD] == 'prejuego']
juego = interactions[interactions[PERIOD] == 'juego']
postjuego = interactions[interactions[PERIOD] == 'postjuego']

print(len(juego.index) + len(prejuego.index) + len(postjuego.index))

2839

In [22]:
pre = postjuego.groupby('subject')['receptor'].value_counts().unstack('receptor').fillna(0).astype(int)
pre
# Hacer porcentajes

receptor  Gibon  Hadia  Jawie  Karl  Locky  Popo  Storma
subject
Hadia         1      0    114    10     11    44      21
Jawie        10     85      1     3      7    13      79
Karl          5      1      1     0      0     0       0
Locky         1     20      2     0      0    53      85
Popo          0     46     11     0     87     0      38
Storma        1     65     53     0     63    61       0

In [23]:
import networkx as nx 
import plotly.graph_objects as go
G = nx.from_pandas_adjacency(pre)
G.name = "Graph from pandas adjacency matrix"
print(G)

Graph named 'Graph from pandas adjacency matrix' with 6 nodes and 13 edges

In [24]:
from pyvis.network import Network
net = Network(notebook=True)
net.from_nx(G)
net.show_buttons()
net.show('prejuego.html')

Local cdn resources have problems on chrome/safari when used in jupyter-notebook.

In [77]:
cleandf.head()

        date subject    period  reg behavior receptor  duration
0 2019-04-15    Karl  Prejuego    1      cam       []      15.0
1 2019-04-15    Karl  Prejuego    1     forr       []      34.0
2 2019-04-15    Karl  Prejuego    1      sen       []      52.0
3 2019-04-15    Karl  Prejuego    1      cam       []       5.0
4 2019-04-15    Karl  Prejuego    1      sen       []      34.0

In [78]:
df = cleandf.loc[:,[PERIOD, SUBJECT,RECEPTOR]]
df.head()

     period subject receptor
0  Prejuego    Karl       []
1  Prejuego    Karl       []
2  Prejuego    Karl       []
3  Prejuego    Karl       []
4  Prejuego    Karl       []

In [79]:
# clean empties
empties = df[RECEPTOR].apply(lambda x : len(x)==0)
index_to_drop = df[list(empties)].index
df.drop(index_to_drop, inplace=True)
df.head()

      period subject receptor
61  Prejuego    Karl  [Hadia]
62  Prejuego    Karl  [Hadia]
63  Prejuego    Karl  [Hadia]
64  Prejuego    Karl  [Hadia]
77  Prejuego    Karl  [Hadia]

In [80]:
# unpack todos
todos_mask = df[RECEPTOR].apply(lambda x : x[0] == 'Todos')
print(todos_mask.sum())

1

In [81]:
subjects = list(df.subject.unique())
todos_index = df[todos_mask].index
ind = todos_index[0]
df.at[ind, RECEPTOR] = subjects

In [82]:
df = df.explode(RECEPTOR)
df.loc[df[RECEPTOR] == 'Hadia*', RECEPTOR] = 'Hadia'
df.loc[df[RECEPTOR] == 'Jawie*', RECEPTOR] = 'Jawie'
df.loc[df[RECEPTOR] == 'locky', RECEPTOR] = 'Locky'
df

         period subject receptor
61     Prejuego    Karl    Hadia
62     Prejuego    Karl    Hadia
63     Prejuego    Karl    Hadia
64     Prejuego    Karl    Hadia
77     Prejuego    Karl    Hadia
...         ...     ...      ...
8046  Postjuego   Hadia     Popo
8047  Postjuego   Hadia     Popo
8051  Postjuego   Hadia     Popo
8100  Postjuego   Hadia     Karl
8103  Postjuego   Hadia     Karl

[2839 rows x 3 columns]

In [83]:
df[PERIOD] = df[PERIOD].str.lower()

prejuego_df = df[df[PERIOD] == 'prejuego']
prejuego_graph = prejuego_df.groupby(SUBJECT)[RECEPTOR] \
            .value_counts() \
            .unstack(RECEPTOR) \
            .fillna(0) \
            .astype(int)
prejuego_graph.drop(labels='Gibon', inplace=True, axis=1)
prejuego_graph /= prejuego_graph.sum(axis=1)
prejuego_graph

receptor     Hadia     Jawie      Karl     Locky      Popo    Storma
subject
Hadia     0.000000  0.557471  0.363636  0.059701  0.175676  0.172589
Jawie     0.521978  0.000000  0.000000  0.029851  0.081081  0.289340
Karl      0.060440  0.000000  0.000000  0.000000  0.000000  0.000000
Locky     0.098901  0.034483  0.000000  0.000000  0.211712  0.319797
Popo      0.329670  0.201149  0.000000  0.626866  0.000000  0.218274
Storma    0.175824  0.310345  0.272727  0.417910  0.234234  0.000000

In [84]:
prejuego_graph.to_csv('prejuego_graph.csv')

In [86]:
df[PERIOD] = df[PERIOD].str.lower()

postjuego_df = df[df[PERIOD] == 'postjuego']
postjuego_graph = postjuego_df.groupby(SUBJECT)[RECEPTOR] \
            .value_counts() \
            .unstack(RECEPTOR) \
            .fillna(0) \
            .astype(int)
postjuego_graph.drop(labels='Gibon', inplace=True, axis=1)
postjuego_graph /= postjuego_graph.sum(axis=1)
postjuego_graph
postjuego_graph.to_csv('postjuego_graph.csv')

In [71]:
porcen = graph/totals

In [72]:
porcen

receptor     Hadia     Jawie      Karl     Locky      Popo    Storma
subject
Hadia     0.000000  0.557471  0.363636  0.059701  0.175676  0.172589
Jawie     0.521978  0.000000  0.000000  0.029851  0.081081  0.289340
Karl      0.060440  0.000000  0.000000  0.000000  0.000000  0.000000
Locky     0.098901  0.034483  0.000000  0.000000  0.211712  0.319797
Popo      0.329670  0.201149  0.000000  0.626866  0.000000  0.218274
Storma    0.175824  0.310345  0.272727  0.417910  0.234234  0.000000