In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('../clean_df.csv')
df.head()

   Unnamed: 0        date subject    period  reg behavior receptor  duration
0           0  2019-04-15    Karl  Prejuego    1      cam       []      15.0
1           1  2019-04-15    Karl  Prejuego    1     forr       []      34.0
2           2  2019-04-15    Karl  Prejuego    1      sen       []      52.0
3           3  2019-04-15    Karl  Prejuego    1      cam       []       5.0
4           4  2019-04-15    Karl  Prejuego    1      sen       []      34.0

In [6]:
xls = pd.ExcelFile('./Registro orangutanes Barcelona.xlsx')
df_raw=pd.read_excel(xls,'Grupo')
df_raw

,Fecha,Sujeto,Periodo,Registro diario,Conducta,Receptor,Frecuencia,Duración,Ubicacion,Observaciones
0,2019-04-15,Karl,Prejuego,1,Cam,NaN,NaN,00:00:15,vg2,NaN
1,2019-04-15,Karl,Prejuego,1,Forr,NaN,NaN,00:00:34,vg2,NaN
2,2019-04-15,Karl,Prejuego,1,Sen,NaN,NaN,00:00:52,vg4,NaN
3,2019-04-15,Karl,Prejuego,1,Cam,NaN,NaN,00:00:05,vg4,NaN
4,2019-04-15,Karl,Prejuego,1,Sen,NaN,NaN,00:00:34,vg4,NaN
...,...,...,...,...,...,...,...,...,...,...
8109,2019-07-19,Hadia,Postjuego,2,Tre,NaN,NaN,00:00:09,pg4,NaN
8110,2019-07-19,Hadia,Postjuego,2,Alim,NaN,NaN,00:01:34,pg4,NaN
8111,2019-07-19,Hadia,Postjuego,2,Jacrob,NaN,NaN,00:00:21,pg4,NaN
8112,2019-07-19,Hadia,Postjuego,2,Bra,NaN,NaN,00:00:03,pg4,NaN
8113,2019-07-19,Hadia,Postjuego,2,Alim,NaN,NaN,00:03:12,pg3,NaN

In [119]:
df['behavior'].value_counts()

jun        1052
cam         991
sen         957
alim        668
aprox       585
forr        435
tum         380
bra         369
solj        326
jexp        321
jacrob      305
tre         262
lucha       251
alogroo     232
ras         228
groo        176
ins         106
mama        100
cuad         97
pub          80
con          46
hur          46
roba         36
marc         19
chup         16
huir         14
sex           6
corr          3
perj          2
jsol          2
trans         1
toca          1
Name: behavior, dtype: int64

In [121]:
DATE = 'date'
SUBJECT = 'subject'
PERIOD = 'period'
REG='reg'
BEHAVIOR='behavior'
FRECUENCY='frecuency'
RECEPTOR='receptor'
DURATION='duration'
df = df.groupby([PERIOD, DATE, REG, SUBJECT, BEHAVIOR])[DURATION] \
            .sum() \
            .unstack(BEHAVIOR) \
            .fillna(pd.Timedelta(seconds=0)) \
            .reset_index()
df.columns.name =''

In [122]:
df.columns.name =''

In [123]:
df.head()

,period,date,reg,subject,alim,alogroo,aprox,bra,cam,chup,...,pub,ras,roba,sen,sex,solj,toca,trans,tre,tum
0,Juego,2019-05-20,1,Hadia,0 days 00:00:130 days 00:00:390 days 00:03:330...,0 days 00:00:13,0 days 00:00:050 days 00:00:050 days 00:00:05,0 days 00:00:00,0 days 00:00:160 days 00:00:05,0 days 00:00:00,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:03,0 days 00:00:00
1,Juego,2019-05-20,1,Jawie,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:19,0 days 00:00:00,0 days 00:00:00
2,Juego,2019-05-20,1,Karl,0 days 00:00:27,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,...,0 days 00:00:00,0 days 00:00:080 days 00:00:020 days 00:00:04,0 days 00:00:00,0 days 00:00:270 days 00:00:230 days 00:00:030...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:01:150 days 00:01:080 days 00:01:010...
3,Juego,2019-05-20,1,Locky,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:15,0 days 00:00:00,...,0 days 00:00:06,0 days 00:00:04,0 days 00:00:00,0 days 00:00:590 days 00:01:370 days 00:00:13,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:50,0 days 00:01:110 days 00:11:25
4,Juego,2019-05-20,1,Popo,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:080 days 00:00:360 days 00:00:470...,0 days 00:00:21,0 days 00:00:00,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:230 days 00:00:070 days 00:00:050...,0 days 00:00:00

In [105]:
pd.get_dummies(df.subject)

     Hadia  Jawie  Karl  Locky  Popo  Storma
0        1      0     0      0     0       0
1        0      1     0      0     0       0
2        0      0     1      0     0       0
3        0      0     0      1     0       0
4        0      0     0      0     1       0
..     ...    ...   ...    ...   ...     ...
533      1      0     0      0     0       0
534      0      1     0      0     0       0
535      0      0     1      0     0       0
536      0      0     0      0     1       0
537      0      0     0      0     0       1

[538 rows x 6 columns]

In [115]:
pd.concat([df, pd.get_dummies(df['subject'])], axis=1).head()

,period,date,reg,subject,Alim,Alogroo,Aprox,Bra,Cam,Chup,...,Tre,Tum,con,tre,Hadia,Jawie,Karl,Locky,Popo,Storma
0,Juego,2019-05-20,1,Hadia,0 days 00:00:130 days 00:00:390 days 00:03:330...,0 days 00:00:13,0 days 00:00:050 days 00:00:050 days 00:00:05,0 days 00:00:00,0 days 00:00:160 days 00:00:05,0 days 00:00:00,...,0 days 00:00:03,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,1,0,0,0,0,0
1,Juego,2019-05-20,1,Jawie,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0,1,0,0,0,0
2,Juego,2019-05-20,1,Karl,0 days 00:00:27,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,...,0 days 00:00:00,0 days 00:01:150 days 00:01:080 days 00:01:010...,0 days 00:00:00,0 days 00:00:00,0,0,1,0,0,0
3,Juego,2019-05-20,1,Locky,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:15,0 days 00:00:00,...,0 days 00:00:50,0 days 00:01:110 days 00:11:25,0 days 00:00:00,0 days 00:00:00,0,0,0,1,0,0
4,Juego,2019-05-20,1,Popo,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:080 days 00:00:360 days 00:00:470...,0 days 00:00:21,0 days 00:00:00,...,0 days 00:00:230 days 00:00:070 days 00:00:050...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0,0,0,0,1,0

In [2]:
ml = MLDF(cleandf)
mldf = ml.process_df()

In [76]:
class GraphDF(DataManager):
    def __init__(self, df):
        super().__init__(df)

    def process_df(self):
        self.keep_subject_receptor()
        self.drop_empties_receptor()
        self.unpack_todos()
        self.process_receptor_column()
        self.prejuego_g, self.juego_g, self.postjuego_g = self.create_periods_graphs()
        return super().process_df()
    
    def save_grafs(self):
        self.prejuego_g.to_csv('prejuego_graph.csv')
        self.juego_g.to_csv('juego_graph.csv')
        self.postjuego_g.to_csv('postjuego_graph.csv')
    
    def keep_subject_receptor(self):
        self.df = self.df.loc[:,[PERIOD, SUBJECT,RECEPTOR]]

    def drop_empties_receptor(self):
        empties = self.df[RECEPTOR].apply(lambda x : len(x)==0)
        index_to_drop = self.df[list(empties)].index
        self.df.drop(index_to_drop, inplace=True)

    def unpack_todos(self):
        subjects = list(df.subject.unique())
        todos_mask = df[RECEPTOR].apply(lambda x : x[0] == 'Todos')     
        todos_index = df[todos_mask].index[0]
        df.at[todos_index, RECEPTOR] = subjects
    
    def process_receptor_column(self):
        self.df = self.df.explode(RECEPTOR)
        self.df.loc[self.df[RECEPTOR] == 'Hadia*', RECEPTOR] = 'Hadia'
        self.df.loc[self.df[RECEPTOR] == 'Jawie*', RECEPTOR] = 'Jawie'
        self.df.loc[self.df[RECEPTOR] == 'locky', RECEPTOR] = 'Locky'
    
    def create_periods_graphs(self):
        self.df[PERIOD] = self.df[PERIOD].str.lower()
        a = self.create_graph('prejuego')
        b = self.create_graph('juego')
        c = self.create_graph('postjuego')
        return a, b, c
    
    def create_graph(self, period):
        df[PERIOD] = df[PERIOD].str.lower()
        df = df[df[PERIOD] == period]
        graph = df.groupby(SUBJECT)[RECEPTOR] \
                    .value_counts() \
                    .unstack(RECEPTOR) \
                    .fillna(0) \
                    .astype(int)
        graph.drop(labels='Gibon', inplace=True, axis=1)
        graph /= graph.sum(axis=1)


g = GraphDF(cleandf)
d = g.process_df()
g.save_grafs()

IndexError: index 0 is out of bounds for axis 0 with size 0

In [2]:
cleandf.head()

        date subject    period  reg behavior receptor  duration
0 2019-04-15    Karl  Prejuego    1      cam       []      15.0
1 2019-04-15    Karl  Prejuego    1     forr       []      34.0
2 2019-04-15    Karl  Prejuego    1      sen       []      52.0
3 2019-04-15    Karl  Prejuego    1      cam       []       5.0
4 2019-04-15    Karl  Prejuego    1      sen       []      34.0

In [3]:
cleandf.subject.value_counts()

Storma    1829
Hadia     1633
Popo      1577
Jawie     1226
Locky     1211
Karl       637
Name: subject, dtype: int64

In [72]:
subjects = list(cleandf.subject.unique())

In [15]:
subjects = cleandf.subject.unique()
interactions = cleandf.loc[:,[PERIOD,'subject','receptor']]
empties = cleandf['receptor'].apply(lambda x : len(x)==0)
interactions.drop(interactions[list(empties)].index, inplace=True)
interactions

         period subject receptor
61     Prejuego    Karl  [Hadia]
62     Prejuego    Karl  [Hadia]
63     Prejuego    Karl  [Hadia]
64     Prejuego    Karl  [Hadia]
77     Prejuego    Karl  [Hadia]
...         ...     ...      ...
8046  Postjuego   Hadia   [Popo]
8047  Postjuego   Hadia   [Popo]
8051  Postjuego   Hadia   [Popo]
8100  Postjuego   Hadia   [Karl]
8103  Postjuego   Hadia   [Karl]

[2660 rows x 3 columns]

In [25]:
todos_mask = interactions[RECEPTOR].apply(lambda x : x[0] == 'Todos')
todos_index = interactions[todos_mask].index
print(todos_index)

Int64Index([], dtype='int64')

In [ ]:
subjects = list(cleandf.subject.unique())
interactions.at[todos_index, RECEPTOR] = subjects

In [20]:
interactions = interactions.explode(RECEPTOR)
interactions.loc[interactions[RECEPTOR] == 'Hadia*', RECEPTOR] = 'Hadia'
interactions.loc[interactions[RECEPTOR] == 'Jawie*', RECEPTOR] = 'Jawie'
interactions.loc[interactions[RECEPTOR] == 'locky', RECEPTOR] = 'Locky'
interactions

         period subject receptor
61     Prejuego    Karl    Hadia
62     Prejuego    Karl    Hadia
63     Prejuego    Karl    Hadia
64     Prejuego    Karl    Hadia
77     Prejuego    Karl    Hadia
...         ...     ...      ...
8046  Postjuego   Hadia     Popo
8047  Postjuego   Hadia     Popo
8051  Postjuego   Hadia     Popo
8100  Postjuego   Hadia     Karl
8103  Postjuego   Hadia     Karl

[2839 rows x 3 columns]

In [21]:
interactions[PERIOD] = interactions.period.str.lower()

prejuego = interactions[interactions[PERIOD] == 'prejuego']
juego = interactions[interactions[PERIOD] == 'juego']
postjuego = interactions[interactions[PERIOD] == 'postjuego']

print(len(juego.index) + len(prejuego.index) + len(postjuego.index))

2839

In [22]:
pre = postjuego.groupby('subject')['receptor'].value_counts().unstack('receptor').fillna(0).astype(int)
pre
# Hacer porcentajes

receptor  Gibon  Hadia  Jawie  Karl  Locky  Popo  Storma
subject
Hadia         1      0    114    10     11    44      21
Jawie        10     85      1     3      7    13      79
Karl          5      1      1     0      0     0       0
Locky         1     20      2     0      0    53      85
Popo          0     46     11     0     87     0      38
Storma        1     65     53     0     63    61       0

In [23]:
import networkx as nx 
import plotly.graph_objects as go
G = nx.from_pandas_adjacency(pre)
G.name = "Graph from pandas adjacency matrix"
print(G)

Graph named 'Graph from pandas adjacency matrix' with 6 nodes and 13 edges

In [24]:
from pyvis.network import Network
net = Network(notebook=True)
net.from_nx(G)
net.show_buttons()
net.show('prejuego.html')

Local cdn resources have problems on chrome/safari when used in jupyter-notebook.

In [94]:
cleandf.head()

        date subject    period  reg behavior receptor  duration
0 2019-04-15    Karl  Prejuego    1      cam       []      15.0
1 2019-04-15    Karl  Prejuego    1     forr       []      34.0
2 2019-04-15    Karl  Prejuego    1      sen       []      52.0
3 2019-04-15    Karl  Prejuego    1      cam       []       5.0
4 2019-04-15    Karl  Prejuego    1      sen       []      34.0

In [95]:
df = cleandf.loc[:,[PERIOD, SUBJECT,RECEPTOR]]
df.head()

     period subject receptor
0  Prejuego    Karl       []
1  Prejuego    Karl       []
2  Prejuego    Karl       []
3  Prejuego    Karl       []
4  Prejuego    Karl       []

In [96]:
lista = []
len(lista) == 0
empties = df[RECEPTOR].apply(lambda x : len(x) == 0)
empties

0       True
1       True
2       True
3       True
4       True
        ...
8109    True
8110    True
8111    True
8112    True
8113    True
Name: receptor, Length: 8113, dtype: bool

In [97]:
# clean empties
empties = df[RECEPTOR].apply(lambda x : len(x) == 0)
index_to_drop = df[list(empties)].index
df.drop(index_to_drop, inplace=True)
df.head()

      period subject receptor
61  Prejuego    Karl  [Hadia]
62  Prejuego    Karl  [Hadia]
63  Prejuego    Karl  [Hadia]
64  Prejuego    Karl  [Hadia]
77  Prejuego    Karl  [Hadia]

In [98]:
# unpack todos
todos_mask = df[RECEPTOR].apply(lambda x : x[0] == 'Todos')
print(todos_mask.sum())

1

In [99]:
subjects = list(df.subject.unique())
subjects

['Karl', 'Locky', 'Jawie', 'Storma', 'Popo', 'Hadia']

In [100]:
subjects = list(df.subject.unique())
todos_index = df[todos_mask].index
ind = todos_index[0]
df.at[ind, RECEPTOR] = subjects

In [101]:
df = df.explode(RECEPTOR)
df.loc[df[RECEPTOR] == 'Hadia*', RECEPTOR] = 'Hadia'
df.loc[df[RECEPTOR] == 'Jawie*', RECEPTOR] = 'Jawie'
df.loc[df[RECEPTOR] == 'locky', RECEPTOR] = 'Locky'
df

         period subject receptor
61     Prejuego    Karl    Hadia
62     Prejuego    Karl    Hadia
63     Prejuego    Karl    Hadia
64     Prejuego    Karl    Hadia
77     Prejuego    Karl    Hadia
...         ...     ...      ...
8046  Postjuego   Hadia     Popo
8047  Postjuego   Hadia     Popo
8051  Postjuego   Hadia     Popo
8100  Postjuego   Hadia     Karl
8103  Postjuego   Hadia     Karl

[2839 rows x 3 columns]

In [102]:
df[PERIOD] = df[PERIOD].str.lower()

prejuego_df = df[df[PERIOD] == 'prejuego']
prejuego_graph = prejuego_df.groupby(SUBJECT)[RECEPTOR] \
            .value_counts()
prejuego_graph

subject  receptor
Hadia    Jawie       97
         Popo        39
         Storma      34
         Locky        8
         Gibon        5
         Karl         4
Jawie    Hadia       95
         Storma      57
         Popo        18
         Locky        4
         Gibon        1
Karl     Hadia       11
         Gibon        5
Locky    Storma      63
         Popo        47
         Hadia       18
         Jawie        6
         Gibon        2
Popo     Locky       84
         Hadia       60
         Storma      43
         Jawie       35
         Gibon        5
Storma   Locky       56
         Jawie       54
         Popo        52
         Hadia       32
         Karl         3
         Gibon        1
Name: receptor, dtype: int64

In [103]:
df[PERIOD] = df[PERIOD].str.lower()

prejuego_df = df[df[PERIOD] == 'prejuego']
prejuego_graph = prejuego_df.groupby(SUBJECT)[RECEPTOR] \
            .value_counts() \
            .unstack(RECEPTOR) \
            .fillna(0) \
            .astype(int)
prejuego_graph.drop(labels='Gibon', inplace=True, axis=1)
prejuego_graph

receptor  Hadia  Jawie  Karl  Locky  Popo  Storma
subject
Hadia         0     97     4      8    39      34
Jawie        95      0     0      4    18      57
Karl         11      0     0      0     0       0
Locky        18      6     0      0    47      63
Popo         60     35     0     84     0      43
Storma       32     54     3     56    52       0

In [106]:
total = prejuego_graph.sum(axis=1)
total

subject
Hadia     182
Jawie     174
Karl       11
Locky     134
Popo      222
Storma    197
dtype: int64

In [116]:
prejuego_graph = prejuego_graph.divide(total, axis=0)

In [117]:
prejuego_graph.to_csv('prejuego_graph.csv')

In [118]:
df[PERIOD] = df[PERIOD].str.lower()

postjuego_df = df[df[PERIOD] == 'postjuego']
postjuego_graph = postjuego_df.groupby(SUBJECT)[RECEPTOR] \
            .value_counts() \
            .unstack(RECEPTOR) \
            .fillna(0) \
            .astype(int)
postjuego_graph.drop(labels='Gibon', inplace=True, axis=1)
postjuego_graph = postjuego_graph.divide(postjuego_graph.sum(axis=1), axis=0)
postjuego_graph
postjuego_graph.to_csv('postjuego_graph.csv')

In [115]:
df[PERIOD] = df[PERIOD].str.lower()

juego_df = df[df[PERIOD] == 'juego']
juego_graph = juego_df.groupby(SUBJECT)[RECEPTOR] \
            .value_counts() \
            .unstack(RECEPTOR) \
            .fillna(0) \
            .astype(int)
juego_graph.drop(labels='Gibon', inplace=True, axis=1)
juego_graph = juego_graph.divide(juego_graph.sum(axis=1), axis=0)
juego_graph
juego_graph.to_csv('juego_graph.csv')

In [72]:
porcen

receptor     Hadia     Jawie      Karl     Locky      Popo    Storma
subject
Hadia     0.000000  0.557471  0.363636  0.059701  0.175676  0.172589
Jawie     0.521978  0.000000  0.000000  0.029851  0.081081  0.289340
Karl      0.060440  0.000000  0.000000  0.000000  0.000000  0.000000
Locky     0.098901  0.034483  0.000000  0.000000  0.211712  0.319797
Popo      0.329670  0.201149  0.000000  0.626866  0.000000  0.218274
Storma    0.175824  0.310345  0.272727  0.417910  0.234234  0.000000

# Machine Learning

In [3]:
import sklearn
import pandas as pd

mldf = pd.read_csv('./machine_learning.csv')
mldf.drop('Unnamed: 0', axis=1, inplace=True)
period_df = mldf.iloc[:,:-6]

mldf.head()

,alim,alogroo,aprox,bra,cam,chup,con,corr,cuad,forr,...,tum,Juego,Postjuego,Prejuego,Hadia,Jawie,Karl,Locky,Popo,Storma
0,336.0,13.0,15.0,0.0,21.0,0.0,0.0,0.0,0.0,88.0,...,0.0,1,0,0,1,0,0,0,0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1,0,0,0,1,0,0,0,0
2,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,330.0,1,0,0,0,0,1,0,0,0
3,0.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,...,756.0,1,0,0,0,0,0,1,0,0
4,0.0,0.0,0.0,142.0,21.0,0.0,0.0,0.0,0.0,9.0,...,0.0,1,0,0,0,0,0,0,1,0

In [4]:
period_df.head()

,alim,alogroo,aprox,bra,cam,chup,con,corr,cuad,forr,...,sen,sex,solj,toca,trans,tre,tum,Juego,Postjuego,Prejuego
0,336.0,13.0,15.0,0.0,21.0,0.0,0.0,0.0,0.0,88.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,1,0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,19.0,0.0,0.0,1,0,0
2,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,166.0,0.0,0.0,0.0,0.0,0.0,330.0,1,0,0
3,0.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,...,169.0,0.0,0.0,0.0,0.0,50.0,756.0,1,0,0
4,0.0,0.0,0.0,142.0,21.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,45.0,0.0,1,0,0

,alim,alogroo,aprox,bra,cam,chup,con,corr,cuad,forr,...,pub,ras,roba,sen,sex,solj,toca,trans,tre,tum
0,336.0,13.0,15.0,0.0,21.0,0.0,0.0,0.0,0.0,88.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,0.0,0.0
2,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,14.0,0.0,166.0,0.0,0.0,0.0,0.0,0.0,330.0
3,0.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,...,6.0,4.0,0.0,169.0,0.0,0.0,0.0,0.0,50.0,756.0
4,0.0,0.0,0.0,142.0,21.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,128.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,48.0,...,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,15.0,60.0
534,0.0,0.0,5.0,308.0,19.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,72.0,0.0,0.0,0.0,0.0,0.0,0.0
535,0.0,0.0,0.0,0.0,9.0,0.0,24.0,0.0,0.0,0.0,...,0.0,0.0,0.0,160.0,0.0,0.0,0.0,0.0,0.0,399.0
536,27.0,0.0,3.0,0.0,29.0,0.0,0.0,0.0,0.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
537,0.0,0.0,11.0,168.0,130.0,0.0,0.0,0.0,45.0,20.0,...,0.0,16.0,0.0,155.0,0.0,18.0,0.0,0.0,9.0,0.0

In [12]:
from sklearn.model_selection import train_test_split

split_ratio = 1/((len(period_df.columns)-1)**0.5 +1)

data = period_df.drop(['Juego', 'Prejuego', 'Postjuego'], axis=1)
data = data.divide(data.sum(axis=1), axis=0)

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [21]:
target = period_df[['Prejuego', 'Juego', 'Postjuego']]

X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=split_ratio)
print(f'Dataset shape: {period_df.shape}, Train shape: {X_train.shape}, Test shape: {X_test.shape}, Split ratio: {split_ratio:0.2f}')

Dataset shape: (538, 35), Train shape: (459, 32), Test shape: (79, 32), Split ratio: 0.15

In [16]:
target.head()

   Prejuego  Juego  Postjuego
0         0      1          0
1         0      1          0
2         0      1          0
3         0      1          0
4         0      1          0

## Decission tree

In [22]:

from sklearn.tree import DecisionTreeClassifier, plot_tree, export_graphviz
from sklearn.metrics import confusion_matrix
import random

SEED = 13640121

model = DecisionTreeClassifier(criterion="gini", random_state=SEED)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.3924050632911392

In [95]:
y_pred = model.predict(X_test)
y_test.head()

     Karl  Locky  Jawie  Storma  Popo  Hadia
458     0      0      0       0     1      0
454     0      0      0       0     0      1
345     0      0      0       1     0      0
500     0      0      0       0     1      0
279     0      0      0       0     0      1

In [49]:
cm = confusion_matrix(y_test.values.argmax(axis=1), y_pred.argmax(axis=1))

In [58]:
cm = cm / cm.astype(np.float32).sum(axis=1)
cm

array([[0.5391705 , 0.32846714, 0.10948905],
       [0.20737327, 0.51094889, 0.29197079],
       [0.20737327, 0.25547444, 0.54744523]])

In [60]:
px.imshow(cm,
          title='Decission tree model confusion matrix',
          labels=dict(x='Predicted', y='Truth', color='Percentage'),
          x=['Prejuego', 'Juego', 'Postjuego'],
          y=['Prejuego', 'Juego', 'Postjuego'])

Same but with individuals

In [73]:
names = list(df['subject'].unique())
names

['Karl', 'Locky', 'Jawie', 'Storma', 'Popo', 'Hadia']

In [74]:
periods = list(df['period'].unique())
periods

['Prejuego', 'Juego', 'Postjuego']

In [75]:
df.head()

   Unnamed: 0        date subject    period  reg behavior receptor  duration
0           0  2019-04-15    Karl  Prejuego    1      cam       []      15.0
1           1  2019-04-15    Karl  Prejuego    1     forr       []      34.0
2           2  2019-04-15    Karl  Prejuego    1      sen       []      52.0
3           3  2019-04-15    Karl  Prejuego    1      cam       []       5.0
4           4  2019-04-15    Karl  Prejuego    1      sen       []      34.0

In [76]:
subjects_df = mldf.drop(periods, axis=1)
subjects_df.head()

,alim,alogroo,aprox,bra,cam,chup,con,corr,cuad,forr,...,toca,trans,tre,tum,Hadia,Jawie,Karl,Locky,Popo,Storma
0,336.0,13.0,15.0,0.0,21.0,0.0,0.0,0.0,0.0,88.0,...,0.0,0.0,3.0,0.0,1,0,0,0,0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,19.0,0.0,0.0,0,1,0,0,0,0
2,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,330.0,0,0,1,0,0,0
3,0.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,50.0,756.0,0,0,0,1,0,0
4,0.0,0.0,0.0,142.0,21.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,45.0,0.0,0,0,0,0,1,0

In [86]:
data = subjects_df.drop(names,  axis=1)
target = subjects_df[names]

X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=split_ratio)
print(f'Dataset shape: {subjects_df.shape}, Train shape: {X_train.shape}, Test shape: {X_test.shape}, Split ratio: {split_ratio:0.2f}')

model.fit(X_train, y_train)
score = model.score(X_test, y_test)
print(f'Score: {score}')
y_pred = model.predict(X_test)

cm = confusion_matrix(y_test.values.argmax(axis=1), y_pred.argmax(axis=1))
cm = cm / cm.astype(np.float32).sum(axis=1)

Dataset shape: (538, 38), Train shape: (459, 32), Test shape: (79, 32), Split ratio: 0.15
Score: 0.35443037974683544

In [87]:
px.imshow(cm,
          title='Decission tree model confusion matrix',
          labels=dict(x='Predicted', y='Truth', color='Percentage'),
          x=names,
          y=names)