In [29]:
import pandas as pd
import numpy as np

xls = pd.ExcelFile(r'../Registro orangutanes Barcelona.xlsx')
df_raw = pd.read_excel(xls,'Grupo')

In [30]:
df_raw.head()

,Fecha,Sujeto,Periodo,Registro diario,Conducta,Receptor,Frecuencia,Duración,Ubicacion,Observaciones
0,2019-04-15,Karl,Prejuego,1,Cam,NaN,NaN,00:00:15,vg2,NaN
1,2019-04-15,Karl,Prejuego,1,Forr,NaN,NaN,00:00:34,vg2,NaN
2,2019-04-15,Karl,Prejuego,1,Sen,NaN,NaN,00:00:52,vg4,NaN
3,2019-04-15,Karl,Prejuego,1,Cam,NaN,NaN,00:00:05,vg4,NaN
4,2019-04-15,Karl,Prejuego,1,Sen,NaN,NaN,00:00:34,vg4,NaN

In [31]:
df_raw.loc[df_raw['Periodo'] == 'Prejuego', 'Periodo'] = 0
df_raw.loc[df_raw['Periodo'] == 'Juego', 'Periodo'] = 1
df_raw.loc[df_raw['Periodo'] == 'Postjuego', 'Periodo'] = 2

In [32]:
df_raw['Receptor'].value_counts()

Jawie                 481
Locky                 424
Hadia                 333
Popo                  274
Storma*               266
Storma                261
Hadia*                219
Popo*                 117
                       68
Jawie*                 32
Gibon                  32
Locky Storma           25
Locky*                 22
Karl                   21
Popo Hadia             20
Storma Hadia           19
Jawie Hadia            17
Storma Popo            15
Locky Popo             15
Jawie Storma           11
Jawie Popo              9
Gibon*                  8
jawie                   7
Storma Jawie            7
Locky Hadia             5
Locky Jawie             3
Storma Jawie Hadia      3
Locky Popo Hadia        2
Locky Storma Jawie      2
Storma Popo Hadia       2
Popo Gibon              1
Popo Hadia*             1
Todos                   1
Storma Jawie*           1
Storma  Jawie Popo      1
Locky Storma Hadia      1
locky Storma            1
Locky Jawie Storma      1
Name: Receptor, dtype: int64

In [33]:
df_raw.loc[df_raw['Receptor'] == 'Gibon*', 'Receptor'] = 'Gibon'
df_raw.loc[df_raw['Receptor'] == 'Storma*', 'Receptor'] = 'Storma'
df_raw.loc[df_raw['Receptor'] == 'Locky*', 'Receptor'] = 'Locky'
df_raw.loc[df_raw['Receptor'] == 'Hadia*', 'Receptor'] = 'Hadia'
df_raw.loc[df_raw['Receptor'] == 'Popo*', 'Receptor'] = 'Popo'
df_raw.loc[df_raw['Receptor'] == 'Jawie*', 'Receptor'] = 'Jawie'
df_raw.loc[df_raw['Receptor'] == 'jawie', 'Receptor'] = 'Jawie'


df_raw['Receptor'].value_counts()

Hadia                 552
Storma                527
Jawie                 520
Locky                 446
Popo                  391
                       68
Gibon                  40
Locky Storma           25
Karl                   21
Popo Hadia             20
Storma Hadia           19
Jawie Hadia            17
Storma Popo            15
Locky Popo             15
Jawie Storma           11
Jawie Popo              9
Storma Jawie            7
Locky Hadia             5
Locky Jawie             3
Storma Jawie Hadia      3
Locky Popo Hadia        2
Storma Popo Hadia       2
Locky Storma Jawie      2
Popo Gibon              1
Todos                   1
Popo Hadia*             1
Storma Jawie*           1
Storma  Jawie Popo      1
Locky Storma Hadia      1
locky Storma            1
Locky Jawie Storma      1
Name: Receptor, dtype: int64

In [34]:
df_raw['Receptor'] = df_raw['Receptor'].fillna('')

In [35]:
df_raw['Receptor'] = df_raw.Receptor.apply(lambda x : x.split())
df_raw['Receptor'].value_counts()

[]                        5454
[Hadia]                    552
[Storma]                   527
[Jawie]                    520
[Locky]                    446
[Popo]                     391
[Gibon]                     40
[Locky, Storma]             25
[Karl]                      21
[Popo, Hadia]               20
[Storma, Hadia]             19
[Jawie, Hadia]              17
[Locky, Popo]               15
[Storma, Popo]              15
[Jawie, Storma]             11
[Jawie, Popo]                9
[Storma, Jawie]              7
[Locky, Hadia]               5
[Locky, Jawie]               3
[Storma, Jawie, Hadia]       3
[Locky, Popo, Hadia]         2
[Storma, Popo, Hadia]        2
[Locky, Storma, Jawie]       2
[Popo, Gibon]                1
[Todos]                      1
[Popo, Hadia*]               1
[Storma, Jawie*]             1
[Storma, Jawie, Popo]        1
[Locky, Storma, Hadia]       1
[locky, Storma]              1
[Locky, Jawie, Storma]       1
Name: Receptor, dtype: int64

In [36]:
df_raw.head()

,Fecha,Sujeto,Periodo,Registro diario,Conducta,Receptor,Frecuencia,Duración,Ubicacion,Observaciones
0,2019-04-15,Karl,0,1,Cam,[],NaN,00:00:15,vg2,NaN
1,2019-04-15,Karl,0,1,Forr,[],NaN,00:00:34,vg2,NaN
2,2019-04-15,Karl,0,1,Sen,[],NaN,00:00:52,vg4,NaN
3,2019-04-15,Karl,0,1,Cam,[],NaN,00:00:05,vg4,NaN
4,2019-04-15,Karl,0,1,Sen,[],NaN,00:00:34,vg4,NaN

### limpiar duración y pasarlo a segundos

In [37]:
df_raw.drop(df_raw[df_raw['Duración'] == 'd'].index, inplace=True)

In [38]:
import datetime as dt
df_raw['Duración'] = df_raw['Duración'].fillna(dt.time(0, 0))

In [39]:
df_raw[ "Duración"] = np.where(df_raw["Duración"].astype(str).str.fullmatch(r'\s*'),
                               dt.time(0,0),
                               df_raw['Duración'])

In [40]:
def to_seconds(t):
    try:
        return pd.to_timedelta(str(t))
    except:
        return np.nan

df_raw['Duración'] = df_raw['Duración'].apply(to_seconds)

In [41]:
df_raw['Duración'].sum()

Timedelta('3 days 17:05:14.088300')

### Limpiar comportamientos

In [42]:
df_raw['Conducta'] = df_raw['Conducta'].str.lower()

### sumar todos los comportamientos iguales

In [60]:
df_raw.groupby(['Periodo', 'Fecha', 'Registro diario','Sujeto', 'Conducta'])['Duración'] \
    .sum() \
    .unstack('Conducta') \
    .fillna(pd.Timedelta(seconds=0)) \
    .reset_index()

Conducta,Periodo,Fecha,Registro diario,Sujeto,alim,alogroo,aprox,bra,cam,chup,...,pub,ras,roba,sen,sex,solj,toca,trans,tre,tum
0,0,2019-04-15,1,Hadia,0 days 00:00:00,0 days 00:04:07,0 days 00:00:00,0 days 00:00:00,0 days 00:00:16,0 days,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days,0 days 00:00:00,0 days,0 days,0 days 00:00:10,0 days 00:00:00
1,0,2019-04-15,1,Jawie,0 days 00:02:31,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:01:08,0 days,...,0 days 00:00:00,0 days 00:00:05,0 days 00:00:00,0 days 00:01:17,0 days,0 days 00:00:00,0 days,0 days,0 days 00:00:00,0 days 00:00:00
2,0,2019-04-15,1,Karl,0 days 00:00:34,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:02:21,0 days,...,0 days 00:00:00,0 days 00:00:04,0 days 00:00:00,0 days 00:05:37,0 days,0 days 00:00:00,0 days,0 days,0 days 00:00:00,0 days 00:00:00
3,0,2019-04-15,1,Locky,0 days 00:04:39,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:01:17,0 days,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:33,0 days,0 days 00:00:00,0 days,0 days,0 days 00:00:00,0 days 00:00:00
4,0,2019-04-15,1,Popo,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days,0 days 00:00:00,0 days,0 days,0 days 00:00:00,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,2,2019-07-19,2,Jawie,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:19,0 days 00:00:00,0 days,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:08:52,0 days,0 days 00:00:00,0 days,0 days,0 days 00:00:02,0 days 00:00:00
534,2,2019-07-19,2,Karl,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:01:56,0 days,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:07:02,0 days,0 days 00:00:00,0 days,0 days,0 days 00:00:03,0 days 00:00:59
535,2,2019-07-19,2,Locky,0 days 00:07:06,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:30,0 days,...,0 days 00:00:02,0 days 00:00:00,0 days 00:00:00,0 days 00:00:41,0 days,0 days 00:00:00,0 days,0 days,0 days 00:00:00,0 days 00:00:00
536,2,2019-07-19,2,Popo,0 days 00:00:21,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:02,0 days 00:00:00,0 days,0 days 00:00:00,0 days,0 days,0 days 00:00:00,0 days 00:00:00
537,2,2019-07-19,2,Storma,0 days 00:00:54,0 days 00:00:00,0 days 00:00:06,0 days 00:00:00,0 days 00:00:46,0 days,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:04:38,0 days,0 days 00:00:22,0 days,0 days,0 days 00:00:00,0 days 00:00:00

In [61]:
df_raw.head()

,Fecha,Sujeto,Periodo,Registro diario,Conducta,Receptor,Frecuencia,Duración,Ubicacion,Observaciones
0,2019-04-15,Karl,0,1,cam,[],NaN,0 days 00:00:15,vg2,NaN
1,2019-04-15,Karl,0,1,forr,[],NaN,0 days 00:00:34,vg2,NaN
2,2019-04-15,Karl,0,1,sen,[],NaN,0 days 00:00:52,vg4,NaN
3,2019-04-15,Karl,0,1,cam,[],NaN,0 days 00:00:05,vg4,NaN
4,2019-04-15,Karl,0,1,sen,[],NaN,0 days 00:00:34,vg4,NaN

In [67]:
def freq_to_duration(t):
    return pd.to_timedelta(str(t))

df_raw['Frecuencia'].fillna(0, inplace=True)
df_raw.head()
# df_raw['Frecuencia'] = df_raw['Frecuencia'].apply(freq_to_duration)

,Fecha,Sujeto,Periodo,Registro diario,Conducta,Receptor,Frecuencia,Duración,Ubicacion,Observaciones
0,2019-04-15,Karl,0,1,cam,[],0,0 days 00:00:15,vg2,NaN
1,2019-04-15,Karl,0,1,forr,[],0,0 days 00:00:34,vg2,NaN
2,2019-04-15,Karl,0,1,sen,[],0,0 days 00:00:52,vg4,NaN
3,2019-04-15,Karl,0,1,cam,[],0,0 days 00:00:05,vg4,NaN
4,2019-04-15,Karl,0,1,sen,[],0,0 days 00:00:34,vg4,NaN

In [68]:
df_raw['Frecuencia'] = df_raw['Frecuencia'].apply(freq_to_duration)

ValueError: symbols w/o a number