In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix

mldf = pd.read_csv('./machine_learning.csv')
mldf.drop('Unnamed: 0', axis=1, inplace=True)

mldf.head()

,alim,alogroo,aprox,bra,cam,chup,con,corr,cuad,forr,...,tum,Juego,Postjuego,Prejuego,Hadia,Jawie,Karl,Locky,Popo,Storma
0,336.0,13.0,15.0,0.0,21.0,0.0,0.0,0.0,0.0,88.0,...,0.0,1,0,0,1,0,0,0,0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1,0,0,0,1,0,0,0,0
2,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,330.0,1,0,0,0,0,1,0,0,0
3,0.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,...,756.0,1,0,0,0,0,0,1,0,0
4,0.0,0.0,0.0,142.0,21.0,0.0,0.0,0.0,0.0,9.0,...,0.0,1,0,0,0,0,0,0,1,0

In [ ]:
mldf['p']

In [ ]:
period_df = mldf.iloc[:,:-6]